<%- include('includes/head.ejs', { title: 'Error!' }) %>
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main>
    <h1>Not Authorized!</h1>
    <p>You are not Authorized to this elevated content!</p>
  </main>
</body>
</html>